let mapleader=" "
" == opts
set nu
set so=5
set signcolumn=yes
set ve=block
set cursorline
set incsearch " always highlight search keywords

" == misc
syntax on

" == mappings
inoremap jk <ESC>
nnoremap <leader>w <C-W>
nnoremap <leader><leader> :
nnoremap <space>qq :q<cr>
nnoremap <space>ss /
nnoremap <space>fs :w<cr>
nnoremap <space>bd <cmd>bd<cr>
noremap L $

set NERDTree
nnoremap <leader>ll <cmd><S><F10><cr>
nnoremap <leader>ft :NERDTreeFocus<cr>
set highlightedyank
set surround
map <leader>ld <Action>(Debug)
map <leader>ll <Action>(Run)
map <leader>lr <Action>(RenameElement)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <leader>lb <Action>(ToggleLineBreakpoint)

map <leader><Tab> <cmd>bp<cr>
map <leader>bn <cmd>bn<cr>