" ====================================================
" ideavimrc
" ====================================================
set so=5
inoremap jk <ESC>
set nu rnu
set incsearch
syntax on
nnoremap <Space>bd <Cmd>bd<Cr>
nnoremap <space>qq :q<cr>
nnoremap <space>ss /
nnoremap <space>fs :w<cr>
noremap L $
nnoremap <space>bd <cmd>bd<cr>