" ====================================================
" ideavimrc
" ====================================================
set so=5
inoremap jk <ESC>
set number relativenumber
set incsearch
syntax on
nnoremap <Space>bd <Cmd>bd<Cr>
noremap L $
