snippet tod "TODO"
TODO: ${1:Content}
endsnippet

snippet note "NOTE"
NOTE: $1 
endsnippet

snippet shell "#!/usr/....(self:all)" bA
#!/usr/bin/env ${1:bash}
endsnippet

# how to del whitespaces refrence: latex snippets
snippet cr "<cr>" 
<cr>
endsnippet
