snippet links "link_self" bA
[${1:Text}](${2:url})
endsnippet

snippet cbox "checkbox [x]" bA
- [ ] $1
endsnippet

snippet md "template"
<!-- `date` -->
# ${1:Title head}

## ${2:Title level 2}

- ${3:content}
endsnippet

snippet deline "del"
~~$1~~
endsnippet

snippet 44 "latex_code"
$$
\\$1
$$
endsnippet
