## how to add bingo
snippet - "checkbox"
- [ ] $1
endsnippet

snippet	#1 "#"
# ${1:${VISUAL:Title1}}
endsnippet


snippet	#2 "#"
## ${1:Title2}
endsnippet

snippet lin "link_self"
[${1:Text}](${2:url})
endsnippet
