# snippet	1 "#"
# # ${1:${VISUAL:Title1}}
# endsnippet

snippet lin "link_self"
[${1:Text}](${2:url})
endsnippet


# snippet ques "FAQ"
# - Q: ${1:Question}
#   A: ${2:Answer}
# endsnippet

snippet box "checkbox [x]"
- [ ] $1
endsnippet

# bug need to down special symbol, try to learn ti 
snippet sh "code blocks"
\`\`\`${1:type}
\`\`\`
endsnippet

snippet md "template"
<!-- `date` -->
${1:Title head}
=

${2:Title level 2}
-

- ${3:content}
endsnippet
