snippet template "template" b
\\documentclass{article}

\\title{$1}
\\author{`whoami`}
\\date{$2}

\\begin{document}
\\maketitle

\\section{Introduction}
Hello, this is a fast template!\\
this is a demo.\\
$3
\\end{document}
endsnippet

snippet $ "$$" b
$$1$
endsnippet
