snippet sec "Comment Section"
" ===
" === ${1:New Section}
" ===
$0
endsnippet

snippet lua "lua << EOF"
lua << EOF
${1:lua}
EOF
endsnippet

snippet nno "nnoremap"
nnoremap $1
endsnippet

snippet no "nnoremap"
nnoremap $1
endsnippet

snippet spa "SPACE"
<SPACE>$1
endsnippet

snippet sil "silent"
<silent> $1
endsnippet

snippet plu "Plug"
Plug '${1:plugname}'
endsnippet
