snippet sec "Comment Section"
" ===
" === $1
" ===
$2
endsnippet

snippet lua "lua << EOF"
lua << EOF
$1
EOF
endsnippet

snippet no "nnoremap"
noremap $1
endsnippet

snippet sil "silent"
<silent> $1
endsnippet

snippet space "SPACE"
<SPACE>$1
endsnippet
