snippet sec "Comment Section"
" ===
" === ${1:New Section}
" ===
${2:comment}
endsnippet

snippet lua "lua << EOF"
lua << EOF
${1:lua}
EOF
endsnippet

snippet nno "nnoremap"
nnoremap $1
endsnippet

snippet spa "SPACE"
<SPACE>$1
endsnippet
