" ====================================================
" 2021年 06月 18日 星期五 19:37:25 CST
" small vimrc
" ====================================================
set so=5 
" set wrap
inoremap jk <ESC>
set nu
set rnu
set incsearch
set cc=80
syntax on
set ideajoin
