" ====================================================
" ideavimrc
" ====================================================
set so=5
inoremap jk <ESC>
set number relativenumber
set incsearch
syntax on
set foldmethod=marker
